/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* CSS Variables */

:root {
  --border-color: #144fc6;
  --bottom-radius: 40px;
  --unfilled-opacity: 1;
  --fill-color: #6ab3f8;
  --standard-transition: 0.3s ease;
}
.cup-small {
  --bottom-radius: 15px;
  --unfilled-opacity: 0.9;
}

/* CSS Declarations */
* {
  box-sizing: border-box;
}
body {
  background-color: #3494e4;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  margin: 10px 0 0;
}
h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  background-color: rgba(255, 255, 255, var(--unfilled-opacity));
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 var(--bottom-radius) var(--bottom-radius);
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cup.cup-small {
  width: 50px;
  height: 95px;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: var(--standard-transition);
}
.cup.cup-small.full {
  background-color: var(--fill-color);
  color: white;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: var(--standard-transition);
}
.remained > span {
  font-size: 20px;
  font-weight: bold;
}
.remained > small {
  font-size: 12px;
}

.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  height: 20;
  transition: var(--standard-transition);
}
.text {
  text-align: center;
  margin: 0 0 5px;
}
